<h2>Getting the details of employee</h2>

<button pButton type="button" label="AddEmployee"  routerLink="addemp" class="ui-button-rounded ui-button-success"></button><br>
<router-outlet></router-outlet><br>
  <p-table [value]="data1" [immutable]="false "> 
      
   <ng-template pTemplate="header">
       <tr>
           <th>ID:</th>
           <th>EMPLOYEE NAMES</th>
           <th>SALARY</th>
           <th>AGE</th>
            <th>Action</th> 
       </tr>
   </ng-template>
   <ng-template  pTemplate="body" let-val>
       <tr>
           <td>{{val.id}}</td>
           <td>{{val.employee_name}}</td>
           <td>{{val.employee_salary}}</td>
           <td> {{val.employee_age}}</td>
           <!-- <button pButton type="button" label="UpdateEmp" class="ui-button-rounded ui-button-warning"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
           <p-toast></p-toast>
           <button pButton type="button" label="DeleteEmp" (click)="deleteUser(val.id)" class="ui-button-rounded ui-button-danger" ></button>
       </tr>

   </ng-template>
  </p-table><br>
 
  
  