.navbar{
    justify-content: space-between
   }
   span{
    padding-right: 1rem;
   }
   .mat-sidenav-container{
    min-height: 93%;
   }
   
   .mat-sidenav{
    background-color: whitesmoke;
    width: 200px;
   }
   .rule1{
    margin-left: -24px;
    width: 198px;
    margin-top: -10px;
    margin-bottom: -5px;
   }
   .libutton{
    width: 198px;
    margin-top: -10px;
    margin-left: -63px;
   }
   mat-icon{
    margin-left: auto;
   }
   mat-panel-title{
    font-weight: 600;
    font-style: italic;
   }
   
   